# Скопируйте этот файл в .env и заполните своими значениями
# cp .env.example .env

# Platonus API
PLATONUS_URL=
BACKEND_URL=

# Пользовательский агент и заголовки, имитирующие мобильное приложение
PLATONUS_USER_AGENT=
PLATONUS_ORIGIN=
PLATONUS_REFERER=
PLATONUS_APP_ID=
